@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    /*color-scheme: dark*/
}

:root {
    
    --rdp-range_start-background: #84cc16;
    --rdp-range_middle-background-color: #84cc16;
    --rdp-range_end-background: #84cc16;

  }